name: CI 

on:
  push:
    branches:
      - "*"

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21

      - name: Run unit tests
        run: ./mvnw test --no-transfer-progress


  docker-build:
    runs-on: ubuntu-latest
    needs: tests

    steps:
      - uses: actions/checkout@v4

      - name: Build docker image
        run: docker build -t tp3-check .



  docs:
    runs-on: ubuntu-latest
    needs: tests

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Build documentation
        run: ./mvnw javadoc:javadoc --no-transfer-progress

  deploy-docker:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: [tests, docker-build, docs]

    steps:
    - name: Checkout code
    - uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Docker image
      run: |
        docker buildx build . \
          --tag ${{ secrets.DOCKER_USERNAME }}/tp3:main \
          --push





